name: client-ci-cd

on:
  push:
    branches:
      - '*'
    paths:
      - 'client/**'
  pull_request:
    branches:
      - develop
      - main
      - develop-snapshot
    paths:
      - 'client/**'

jobs:
  deploy-to-vercel:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_CLIENT_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Vercel CLI
        run: npm install -g vercel@latest --legacy-peer-deps
      - name: Set Vercel Environment
        id: vercel-env
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "env=production" >> $GITHUB_OUTPUT
          else
            echo "env=preview" >> $GITHUB_OUTPUT
          fi
      - name: Deploy to Vercel
        run: |
          cd client
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            vercel deploy --prod --token $VERCEL_TOKEN
          else
            vercel deploy --token $VERCEL_TOKEN
          fi

