name: Deploy to cloudflare
on:
  push:
    branches:
      - '**'
jobs:
  deploy-client:
    name: Deploy client to cloudflare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install Dependencies
        working-directory: ./client
        run: npm ci

      - name: Build
        working-directory: ./client
        run: npm run build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./client/out --project-name=intellics
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

