name: Deploy to cloudflare
on:
  push:
    branches:
      - '**'
jobs:
  deploy-client:
    name: Deploy client to cloudflare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: out
          path: out
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./out --project-name=intellics
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

