name: Backend deployment

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
  workflow_dispatch: { }

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed_files
        uses: tj-actions/changed-files@v44
        with:
          files: backend/**

      - name: Set up Docker Buildx
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta for tags and labels
        id: meta
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/intellics-backend
          tags: |
            type=sha,format=short
            type=raw,value=latest

      - name: Build and push Docker image
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Render
        if: steps.changed_files.outputs.any_changed == 'true'
        run: |
          echo "Initiating deployment for IntelliCS backend."
          curl "${{ secrets.INTELLICS_BACKEND_DEPLOY_HOOK }}"
          echo "Deployment initiated."
